@model DishUp.INSUMO_PACKAGING

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>INSUMO_PACKAGING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSUMO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSUMO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACKAGING.IMAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACKAGING.IMAGE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
