@model IEnumerable<DishUp.INSUMO_PACKAGING>

@{
    ViewBag.Title = "Index";
}
<br />

<p>
    @Html.ActionLink("New Packaging", "Create", "", new { @class = "btn btn-lg btn-success" })

</p>
<table class="table" id="packagingSupplies" data-paging="true" data-filtering="true" data-sorting="true" data-state="true">
    <tr>
        <th>
            SUPPLIE
        </th>
        <th>
            PACKAGING
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            MIN PERSONS
        </th>
        <th>
            MAX PERSONS
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.INSUMO.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PACKAGING.NAME)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUANTITY) @if (item.INSUMO.MEDIDA != null)
                {@item.INSUMO.MEDIDA.NOMBRE;
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxPerson)
            </td>



            <td>
                <a href="@Url.Action("Edit", "PackagingSupplies",new { id = item.ID_INSUMO_PACKAGING })" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Edit
                </a>
                <a href="@Url.Action("Delete", "PackagingSupplies",new { id = item.ID_INSUMO_PACKAGING})" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete
                </a>
            </td>
        </tr>
    }

</table>

@section scripts{}