@model DishUp.ORDER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ORDER1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ORDER_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELIVERED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELIVERED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_DRAFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_DRAFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPPLIER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLIER.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ORDER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
