@model DishUp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Register</title>

        <!-- Custom fonts for this template-->
        <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body class="bg-gradient-primary">

        <div class="container ">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>

                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "user", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })


                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "form-control form-control-user" })

                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control form-control-user" })

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @class = "form-control form-control-user" })

                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Phone Number", @class = "form-control form-control-user" })

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.PasswordFor(m => m.Password, new { placeholder = "Enter Password", @class = "form-control form-control-user" })

                                        </div>
                                        <div class="col-sm-6">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control form-control-user" })

                                        </div>
                                    </div>
                                    <button type="submit">Register</button>
                                    
                                    <hr>

                                    <div class="text-center">
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("have an account? Login!", "Login")
                                    </div>
                                }




                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </body>
</html>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


