@model DishUp.PRODUCTO_INSUMO

@using (Ajax.BeginForm("AddSuppliess", "Product", new AjaxOptions
{
    UpdateTargetId = "supplieList",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ClearForm"

}, new { id="formuSupplie", @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.ID_PRODUCTO)
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(model => model.ID_INSUMO, "Supplie: ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("ID_USER_SUPPLIER_INSUMO", null, "Select a supplie", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_INSUMO, "", new { @class = "text-danger" })

            </div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.ID_MEDIDA, "Unit Weight: ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("ID_MEDIDA", null, "Select ", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_MEDIDA, "", new { @class = "text-danger" })

            </div>
        </div>
        <br />

        <div class="row">
            @Html.LabelFor(model => model.quantity, "Quantity", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.quantity, "Insert Quantity", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align:left;" >
                <button id="ff" name="ff" class="btn btn-success">Accept</button>
                <button id="button2id" name="button2id" data-dismiss="modal" class="btn btn-danger">Cancel</button>

            </div>
        </div>

    </div>

}
@section Scripts {

    <script type="text/javascript">
            $('#ID_USER_SUPPLIER_INSUMO').change(function () {
                var selectdSupplie = $("#ID_USER_SUPPLIER_INSUMO").val();
                var regionsSelect = $('#ID_MEDIDA');
                regionsSelect.empty();
                if (selectedCountry != null && selectedCountry != '') {
                    $.getJSON('@Url.Action("GetMedidas")', { id: selectdSupplie }, function (regions) {
                        if (regions != null && !jQuery.isEmptyObject(regions))
                        {
                            regionsSelect.append($('<option/>', {
                                value: null,
                                text: ""
                            }));
                            $.each(regions, function (index, region) {
                                regionsSelect.append($('<option/>', {
                                    value: region.Value,
                                    text: region.Text
                                }));
                            });
                        };
                    });
                }
            });
    </script>
}