@model DishUp.Models.supplieListViewModel


<hr />
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Action</th>
        </tr>
        @if (!(Model.listaInsumos == null))
        {
            foreach (var it in Model.listaInsumos)
            {
                <tr>
                    <td>@it.PRODUCTO.NOMBRE</td>
                    <td>@it.quantity</td>
                    <td>@it.MEDIDA.NOMBRE</td>
                    <td>
                        @Ajax.ActionLink("Edit ", "EditProductSupplie", "PRODUCT", new { id = it.ID_PRODUCTO_INSUMO, idInsumo = it.ID_INSUMO }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "supplieDetail", OnComplete = "$('#myModalSupplie').modal('show')" }, new { @class = "btn btn-primary iconEdit" })

                        @Ajax.ActionLink("Delete", "DeleteProductSupplie", "PRODUCT", new { id = it.ID_PRODUCTO_INSUMO }, new AjaxOptions { Confirm = "Are you sure you want to delete this item?", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "supplieList" }, new { @class = "btn btn-danger iconDelete" })
                    </td>
                </tr>
            }
        }

    </table>
}

<h2 id="costoTotal">Total Cost: $<span>@Model.costoTotal</span></h2>

