@model DishUp.Models.SupplierInsumoViewModel


@{
    ViewBag.Title = "Index";
}
<h1 class="h3 mb-0 text-gray-800">Add a new Product</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID_SUPPLIER)
    @Html.HiddenFor(x => x.ID_SUPPLIER_INSUMO)
    
    <div class="form-horizontal">


        <div class="form-group">
            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @name = "NAME", placeholder = "Product Name", @class = "form-control" } })

        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.CODE, new { htmlAttributes = new { placeholder = "Code", @class = "form-control" } })

        </div>
        <div class="form-group">
            @Html.DropDownList("ID_MEDIDA_PACKAGE", null, "Select Type Of Unit", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.CheckBox("IS_PACKAGE", Model.IS_PACKAGE)
            @*<input type="checkbox" value="@Model.IS_PACKAGE" checked="@Model.IS_PACKAGE" name="IS_PACKAGE" id="IS_PACKAGE" />*@ <span>IS PACKAGE</span>

        </div>
        @if (Convert.ToBoolean(Model.IS_PACKAGE))
        {
            <div id="isPackageSupplie">
                <div class="form-group">
                    @Html.EditorFor(model => model.QUANTITY_PACKAGE, new { htmlAttributes = new { placeholder = "Quantity per Package", @class = "form-control" } })

                </div>

            </div>
        }
        else
        {
            <div id="isPackageSupplie" style="display:none;">
                <div class="form-group">
                    @Html.EditorFor(model => model.QUANTITY_PACKAGE, new { htmlAttributes = new { placeholder = "Quantity per Package", @class = "form-control" } })

                </div>

            </div>

        }

        <div class="form-group">
            @Html.CheckBox("IS_BOX", Model.IS_PACKAGE)

            @*<input type="checkbox" value="@Model.IS_BOX" checked="@Model.IS_BOX" name="IS_BOX" id="IS_BOX" />*@ <span>IS BOX</span>
        </div>
        <div id="isBoxSupplie" style="display:none;">
            <div class="form-group">
                @Html.EditorFor(model => model.QUANTITY_BOX, new { htmlAttributes = new { placeholder = "Quantity per Box", @class = "form-control" } })

            </div>

        </div>


        <div class="form-group">
            @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { placeholder = "Price $", @class = "form-control" } })

        </div>

        <div class="form-group">

            <input type="checkbox" name="addMyIngredients" id="addMyIngredients" /> <span>ADD TO MY INGREDIENTES</span>
        </div>

        <div class="form-group">
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">Add Product </button></div>

        </div>

    </div>
}


@section scripts

    {

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $('#IS_PACKAGE').change(function () {
                $('#isPackageSupplie').toggle(this.checked);
            }).change(); //ensure visible state matches initially
            $('#IS_BOX').change(function () {

                $('#isBoxSupplie').toggle(this.checked);
            }).change();
        });
    </script>
}