@model DishUp.INSUMO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INSUMO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WHOLESALE_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WHOLESALE_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALE_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALE_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDIDA.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDIDA.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDIDA1.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDIDA1.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_INSUMO }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{}